body {
  overflow-x: hidden;
}

#mobile {
  display: none;
}

#desktop {
  display: flex;
}

@media (max-width: 768px) {
  #mobile {
    display: flex;
  }

  #desktop {
    display: none;
  }
}

#mobile-logo-container {
  justify-content: center;
}

@media (max-height: 800px) {
  #mobile-logo-container {
    justify-content: start;
  }
}